<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../scssAuth/style.css">
    
</head>

<body>
    <header class="head">
        <div class="role">
            Преподаватель
        </div>
        <div class="container-teach-header">
            <ul class="menu-teach-header">
                <li><a href="/">Главная</a></li>
                <li><a href="/modeling_admin">Модели</a></li>
            </ul>
            <div class="logout"></div>
        </div>

    </header>
    <div class="block test__container">
        <div>
            <form class="test__info" id="editTest" action="" method="post">
                <div class="row-form">
                    <input name="t_id" type="text" value="<%= t_id%>" style="display: none;">
                <div class="col">
                    <div class="area">
                        <label>Название</label>
                        <input name="title" type="text" value="<%= title%>">
                    </div>
                    <div class="area">
                        <label for="">Описание</label>
                        <textarea name="description" id="" rows="5"><%= description%></textarea>
                    </div>

                </div>
                <div class="col">
                    <div class="area">
                        <label for="">Продолжительность, мин</label>
                        <input name="duration" type="number" value="<%= duration%>">
                    </div>
                </div>
                <div class="col">
                    <div class="area">
                        <label for="">Дата начала</label>
                        <input name="start" type="date" value="<%= start%>">
                    </div>
                    <div class="area">
                        <label for="">Дата окончания</label>
                        <input name="end" type="date" value="<%= end%>">
                    </div>
                </div>
                </div>
                
                <div class="col">
                    <button type="submit">Сохранить изменения</button>
                </div>

            </form>
        </div>
        <div class="test__questions">
            <% if (questions !=null) {%>
                <% for(let i=0; i<questions.length; i++){ %>
                    <div class="question__container">
                        <% if (questions[i].question.type==1){%>
                            <h3>Вопрос с единичным выбором</h3>

                            <form id="jjj" action="">
                                <input class="simple" type="number" name="id" value="<%=questions[i].id%>" style="display: none;">
                                <input class="simple" type="number" name="type" value="1" style="display: none;">
                                <div class="area">
                                    <label for="">Текст вопроса</label>
                                    <textarea class="simple" name="que_text" id=""
                                        rows="3"><%= questions[i].question.que_text%></textarea>
                                </div>
                                <div class="area score">
                                    <label for="">Кол-во баллов</label>
                                    <input class="simple" type="number" name="score" value="<%= questions[i].question.score%>">
                                </div>
                                <p>Варианты ответа:</p>

                                <% for(let j=0; j<questions[i].question.ans.length; j++){ %>
                                    <div class="radio-row radio-container">

                                        <% if (questions[i].question.ans[j].right==1) {%>
                                            <input type="radio" id="<%= j%>" name="variant"
                                                value="<%= questions[i].question.ans[j].text%>" checked>
                                            <%} else {%>
                                                <input type="radio" id="<%= j%>" name="variant"
                                                    value="<%= questions[i].question.ans[j].text%>">
                                                <%}%>
                                                    
                                                    <input forradio="<%=i%><%=j%>" name="vartext" type="text" value="<%= questions[i].question.ans[j].text%>">
                                    </div>
                                    <%} %>
                                        <button type="button" class="add-button add-radio-button">Добавить вариант ответа</button>
                                        <div class="row">
                                            <button type="submit" name="action" value="save">Сохранить</button>
                                            <button type="submit" name="action" value="delete">Удалить</button>
                                        </div>


                            </form>
                            <%} else if (questions[i].question.type==2) {%>
                                <h3>Вопрос с множественным выбором</h3>
                                <form action="">
                                    <input class="simple" type="number" name="id" value="<%=questions[i].id%>" style="display: none;">
                                    <input class="simple" type="number" name="type" value="2" style="display: none;">
                                    <div class="area">
                                        <label for="">Текст вопроса</label>
                                        <textarea class="simple" name="que_text" id=""
                                            rows="3"><%= questions[i].question.que_text%></textarea>
                                    </div>
                                    <div class="area score">
                                        <label for="">Кол-во баллов</label>
                                        <input class="simple" name="score" type="number" value="<%= questions[i].question.score%>">
                                    </div>
                                    <p>Варианты ответа:</p>
                                    <% for(let j=0; j<questions[i].question.ans.length; j++){ %>
                                        <div class="radio-row check-container">
                                            <% if (questions[i].question.ans[j].right==1) {%>
                                                <input type="checkbox" id="<%= j%>" name="variant"
                                                    value="<%= questions[i].question.ans[j].text%>" checked>
                                                <%} else {%>
                                                    <input type="checkbox" id="<%= j%>" name="variant"
                                                        value="<%= questions[i].question.ans[j].text%>">
                                                    <%}%>
                                                        
                                                        <input forcheck="<%=i%><%=j%>" type="text" name="vartext"
                                                            value="<%= questions[i].question.ans[j].text%>">
                                        </div>
                                        <%} %>
                                        <button type="button" class="add-button add-check-button">Добавить вариант ответа</button>
                                        <div class="row">
                                            <button type="submit" name="action" value="save">Сохранить</button>
                                            <button type="submit" name="action" value="delete">Удалить</button>
                                        </div>
                                </form>
                                <%} else if (questions[i].question.type==3){%>
                                    <h3>Вопрос с коротким ответом</h3>
                                    <form action="">
                                        <input class="simple" type="number" name="id" value="<%= questions[i].id%>" style="display: none;">
                                        <input class="simple" type="number" name="type" value="3" style="display: none;">
                                        <div class="area">
                                            <label for="">Текст вопроса</label>
                                            <textarea class="simple" name="que_text" id=""
                                                rows="3"><%= questions[i].question.que_text%></textarea>
                                        </div>
                                        <div class="area score">
                                            <label for="">Кол-во баллов</label>
                                            <input class="simple" name="score" type="number" value="<%= questions[i].question.score%>">
                                        </div>
                                        <p>Ответ:</p>
                                        <input type="text" answer name="ans" value="<%= questions[i].question.ans[0].text%>">
                                        
                                        <div class="row">
                                            <button type="submit" name="action" value="save">Сохранить</button>
                                            <button type="submit" name="action" value="delete">Удалить</button>
                                        </div>
                                    </form>
                                    <%}%>
                    </div>
                    <%} %>
                        <%} else {%>
                            <!--<h1>ВОПРОСОВ НЕТ</h1>-->
                            <%}%>

        </div>

        <div class="dropdown">
            <button class="dropbtn" id="btnAddQuestion">Добавить вопрос</button>
            <div class="dropdown-content">
                <button class="add-question-btn" qtype="1">Единичный выбор</button>
                <button class="add-question-btn" qtype="2">Множественный выбор</button>
                <button class="add-question-btn" qtype="3">Короткий ответ</button>
            </div>
        </div>
        <div class="que">
        </div>
    </div>
    <div class="win_test">

    </div>
    <div class="modal-container">
        <button class="modalBtn" id="add_test_button" style="display: none; width: 100px;">add one</button>
        <div id="modalAddQue" class="modal ">
            <div class="modal-content  form_addperson_block_content">
                <div class="modal-header">
                    <span id="closeAddQue" class="close">&times;</span>
                    <h2>Шапка модального окна</h2>
                </div>
                <div class="modal-body">
                    <!--<p>Какой-то текст в теле модального окна</p>
                    <p>Ещё другой текст...</p>-->

                    <!--<div class="form_addperson_block_content">-->
                    <div class="size">
                        <p id="name">Добавление нового вопроса с единичный выбором</p>
                        <form id="form_add_que" name="my" class="form_addperson_style" action="" method="post">
                            <div class="area">
                                <label>Текст вопроса</label>
                                <input type="text" name="text" placeholder="Введите текст" required autocomplete="off">
                            </div>
                            <div class="area">
                                <label>Число баллов</label>
                                <input type="number" name="count" placeholder="1" value="1">
                            </div>
                            <div class="variants" class="area">
                                <div>

                                    <input type="radio" name="check_ans" value="1" />
                                    <label>Правильный</label>

                                    <input type="text" name="ans_1" placeholder="Вариант ответа" autocomplete="off">
                                </div>
                                <div>

                                    <input type="radio" name="check_ans" value="2" checked />
                                    <label>Правильный</label>
                                    <input type="text" name="ans_2" placeholder="Вариант ответа" autocomplete="off">
                                </div>

                            </div>
                            <button id="add_new_var">Добавить вариант ответа</button>
                            <button class="form_addperson_button" type="submit"
                                name="form_addcurse_submit">Добавить</button>
                    </div>
                    </form>
                    <!--</div>-->
                </div>

            </div>
        </div>
    </div>

    <div class="modal-container">
        <button class="modalBtn" id="add_test_short_button" style="display: none; width: 100px;">add short</button>
        <div id="modalAddQueShort" class="modal ">
            <div class="modal-content  form_addperson_block_content">
                <div class="modal-header">
                    <span id="closeAddQueShort" class="close">&times;</span>
                    <h2>Шапка модального окна</h2>
                </div>
                <div class="modal-body">
                    <!--<p>Какой-то текст в теле модального окна</p>
                    <p>Ещё другой текст...</p>-->

                    <!--<div class="form_addperson_block_content">-->
                    <div class="size">
                        <p id="name">Добавление нового вопроса с коротким ответом</p>
                        <form id="form_add_que" name="my" class="form_addperson_style" action="" method="post">
                            <div class="area">
                                <label>Текст вопроса</label>
                                <input type="text" name="text" placeholder="Введите текст" required autocomplete="off">
                            </div>
                            <div class="area">
                                <label>Число баллов</label>
                                <input type="number" name="count" placeholder="1" value="1">
                            </div>
                            <div class="area">
                                <label>Ответ</label>
                                <input type="text" name="answer">
                            </div>
                            <div class="variants" class="area">


                            </div>
                            <button class="form_addperson_button" type="submit" name="form_addcurse_submit">Добавить
                                вопрос с коротким ответом</button>
                    </div>
                    </form>
                    <!--</div>-->
                </div>

            </div>
        </div>
    </div>

    <div class="modal_container">
        <button class="modalBtn" id="add_test_button_more" style="display: none; width: 100px;">add more</button>
        <div id="modalAddQueMore" class="modal ">
            <div class="modal-content  form_addperson_block_content">
                <div class="modal-header">
                    <span id="closeAddQueMore" class="close">&times;</span>
                    <h2>Шапка модального окна</h2>
                </div>
                <div class="modal-body">
                    <!--<p>Какой-то текст в теле модального окна</p>
                    <p>Ещё другой текст...</p>-->

                    <!--<div class="form_addperson_block_content">-->
                    <div class="size">
                        <p id="name">Добавление нового вопроса со множественным выбором</p>
                        <form id="form_add_que_more" name="my" class="form_addperson_style" action="" method="post">
                            <div class="area">
                                <label>Текст вопроса</label>
                                <input type="text" name="text" placeholder="Введите текст" required autocomplete="off">
                            </div>
                            <div class="area">
                                <label>Число баллов</label>
                                <input type="number" name="count" placeholder="1" value="1">
                            </div>
                            <div class="variants_more" class="area">
                                <div>

                                    <input type="checkbox" name="check_ans" value="1" />
                                    <label>Правильный</label>

                                    <input type="text" name="ans_1" placeholder="Вариант ответа" autocomplete="off">
                                </div>
                                <div>

                                    <input type="checkbox" name="check_ans" value="2" checked />
                                    <label>Правильный</label>
                                    <input type="text" name="ans_2" placeholder="Вариант ответа" autocomplete="off">
                                </div>

                            </div>
                            <button id="add_new_var_more">Добавить вариант ответа</button>
                            <button class="form_addperson_button" type="submit"
                                name="form_addcurse_submit">Добавить</button>
                    </div>
                    </form>
                    <!--</div>-->
                </div>

            </div>
        </div>
    </div>




    <script src="../js/common/modal.js" defer></script>
    <script src="../js/teach/course/test/editTest.js" defer></script>
    <script src="../js/teach/course/test/changeLabel.js" defer></script>
    <script src="../js/teach/course/test/addVariant.js" defer></script>
    <script src="../js/teach/course/test/addQuestion.js" defer></script>
    <script src="../js/teach/course/test/submitQuestion.js" defer></script>


</body>

</html>