<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="scssAuth/style.css">
</head>

<body>
    <header class="head">
        <div class="role">
            Администратор
        </div>
        <div class="logout">

        </div>
    </header>
    <div class="admin-container">
        <div class="admin-container_head">
            <div class="admin-table_name">Пользователи системы</div>

            <div class="modal_container">
                <button id="myBtn" class="modalBtn add-user_button">Добавить</button>
                <div class="modal">
                    <div class="modal_content-form">
                        <div class="modal_header">
                            <div class="modal_close modal_close_white"></div>
                            Добавление нового пользователя
                        </div>
                        <div class="modal_body">
                            <form id="add-form" action="/admin-addpersone" method="post">
                                <div class="input-area">
                                    <label>ФИО</label>
                                    <input type="text" name="fio" placeholder="Иванов Иван Иванович" required>
                                </div>
                                <div class="input-area">
                                    <label>Адрес электронной почты</label>
                                    <input type="email" name="email" placeholder="ivanov@mail.ru" required>
                                </div>
                                <div class="input-area">
                                    <label>Логин</label>
                                    <input  type="text" name="login" placeholder="ivanov123" required
                                        value="">
                                </div>
                                <div class="input-area">
                                    <label>Пароль</label>
                                    <input type="text" name="password" placeholder="Введите пароль" required>
                                </div>
                                <div class="input-area">
                                    <label>Группа</label>
                                    <input type="number" name="group" placeholder="101">
                                </div>
                                <div class="role-date">
                                    <div class="form-radio-group">
                                        <div class="form_radio_group-item">

                                            <input id="radio-1" name="role" type="radio" checked value="1">
                                            <label for="radio-1">Обучаемый</label>
                                        </div>
                                        <div class="form_radio_group-item">

                                            <input id="radio-2" name="role" type="radio" value="2">
                                            <label for="radio-2">Преподаватель</label>
                                        </div>
                                        <div class="form_radio_group-item">

                                            <input id="radio-3" name="role" type="radio" value="3">
                                            <label class="test" for="radio-3">Администратор</label>
                                        </div>
                                    </div>
                                    <div class="input-area-date date">
                                        <label>Дата рождения</label>
                                        <input type="date" name="bday" placeholder="01.01.1991">
                                    </div>
                                </div>
                                <button class="form_addperson_button form_button" type="submit"
                                    name="form_addperson_submit">Зарегистрировать
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table id="users" class="menu table">
            <tr>
                <th>Фамилия Имя Отчество</th>
                <th>Email</th>
                <th>Логин</th>
                <th>Группа</th>
                <th>Роль</th>
                <th>Дата рождения</th>
                <th></th>
                <th></th>
            </tr>
            <% for(let i=0; i<goods.length; i++){ %>
                <tr>
                    <td class="name">
                        <%=goods[i].fio %>
                    </td>
                    <td class="email">
                        <%=goods[i].email %>
                    </td>
                    <td class="login">
                        <%=goods[i].login %>
                    </td>
                    <td class="group">
                        <%=goods[i].gr %>
                    </td>
                    <td class="role">
                        <%=goods[i].role %>
                    </td>
                    <td class="bday">
                        <%=goods[i].bday %>
                    </td>
                    <td>
                        <div data-action="delete" class="delete-icon" title="Удалить"></div>
                    </td>
                    <td>
                        <div data-action="edit" class="edit-icon" title="Редактировать"></div>
                    </td>
                </tr>
                <%} %>

        </table>
    </div>

    <div class="info">
        Успешно добавлено
    </div>






    <div id="modalUserExist" class="modal ">
        <div class="modal_content-warning  form_addperson_block_content">
            <div  class="modal_close"></div>
            <div class="modal_body-confirm">
                <p>Пользователь с данным логином существует</p>
            </div>
        </div>
    </div>
    <div id="modalHasntGroup" class="modal ">
        <div class="modal_content-warning  form_addperson_block_content">
            <div  class="modal_close"></div>
            <div class="modal_body-confirm">
                <p>У обучаемого должна быть группа</p>
            </div>
        </div>
    </div>
    <div id="modalQueDelete" class="modal " >
        <div class="modal_content-question">
            <div  class="modal_close"></div>
            <div class="modal-confirm">
                <div class="modal_body-confirm">
                    <p>Вы уверены что хотите удалить пользователя?</p>
                    

                </div>
                <div class="buttons-confirm">
                    <button id="no-delete" class="no">Нет</button>
                    <button id="yes-delete" class="yes">Да</button>

                </div>
            </div>

        </div>
    </div>
    <div id="myModal_edit" class="modal ">
        <div class="modal_content-formUserEdit  form_addperson_block_content">
            <div class="modal_header">
                <div class="modal_close modal_close_white"></div>
                Редактирование пользователя
            </div>
            <div class="modal_body">
                <form  class="form_addperson_style" action="/admin-editpersone" method="post">
                    <input id="cur_log" type="text" name="current" placeholder="ФИО" style="display: none;">
                    <div class="input-area">
                        <label>ФИО</label>
                        <input type="text" name="fio" placeholder="ФИО" required>
                    </div>
                    <div class="input-area">
                        <label>Адрес электронной почты</label>
                        <input type="email" name="email" placeholder="Эл. почта" required>
                    </div>
                    <div class="input-area">
                        <label>Логин</label>
                        <input id="mylogin" type="text" name="login" placeholder="Логин" required value="">
                    </div>

                    <div class="input-area">
                        <label>Группа</label>
                        <input id="mygroup" type="number" name="group" placeholder="Группа">
                    </div>
                    <div class="role-date">
                        <div class="form-radio-group">
                            <div class="form_radio_group-item">
                                <input id="radio-11" name="role" type="radio" checked value="1">
                                <label for="radio-11">Обучаемый</label>
                            </div>
                            <div class="form_radio_group-item">
                                <input id="radio-22" name="role" type="radio" value="2">
                                <label for="radio-22">Преподаватель</label>
                            </div>
                            <div class="form_radio_group-item">
                                <input id="radio-33" name="role" type="radio" value="3">
                                <label for="radio-33">Администратор</label>
                            </div>
                        </div>
                        <div class="input-area-date date">
                            <label>Дата рождения</label>
                            <input type="date" name="bday" placeholder="01.01.1991">
                        </div>
                    </div>
                    <button class="form_addperson_button form_button" type="submit"
                        name="form_addperson_submit">Сохранить</button>

                </form>
                <!--</div>-->
            </div>

        </div>
    </div>


    

</body>
<script src="modal.js" defer></script>
<script src="admin.js" defer></script>

</html>