<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="../scssAuth/style.css">
</head>
<body>
    <header class="head">
        <div class="role">
            Обучаемый
        </div>
        <div class="container-user-header">
            <ul class="menu-user-header">
                <li><a href="/">Главная</a></li>
                <li><a href="/modeling">Моделирование</a></li>
            </ul>
            <div class="logout"></div>
        </div>
        
    </header>
    <div class="user__container">
        <h1><%=data.fio%></h1>
        <h2>Группа <%=data.gr%></h2>
        <% if (data.educations.length == 0) { %>
            <h3>Нет назначенных курсов</h3>
        <%} else {%>
            <% if (data.educations[0].practical_task_id && !(data.educations[0].education_pract_score)) { %>
                <div class="aaa">
                    <a href="/modeling" 
                    class="apractic"
                    tasktext="<%=data.educations[0].practical_task_text%>"
                    ansid="<%=data.educations[0].practical_ans_id%>"
                    taskid="<%=data.educations[0].practical_task_id%>"
                    userid="<%=data.user_id%>"
                    edid="<%=data.educations[0].education_id%>"
                    courseid="<%=data.educations[0].course_id%>">
                    Выполнить практическое задание
                </a>
                </div>
                
                <%}%>
                <% if (data.educations[0].link) { %>
                    <div class="aaa">
                        <a href="/study/<%= data.educations[0].link%>" 
                            class="apractic"
                            tasktext="<%=data.educations[0].practical_task_text%>"
                            ansid="<%=data.educations[0].practical_ans_id%>"
                            taskid="<%=data.educations[0].practical_task_id%>"
                            userid="<%=data.user_id%>"
                            edid="<%=data.educations[0].education_id%>"
                            courseid="<%=data.educations[0].course_id%>">
                            Ознакомиться с материалами
                        </a>
                    </div>
                    
                    <%}%>
            <%}%>
    </div>
    
    <script src="../js/common/logout.js"></script>
    <script src="../js/loadEducationInfoToLS.js"></script>
</body>
</html>